body {
    font-family:Roboto, sans-serif;
}

body,
a,
a:hover {
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

/* header and footer */

.page-header
{
    background: #F8845F;
}

.page-header .logo
{
    color: #fff;
}

.page-header .nav-link,
.page-header .navbar-toggler
{
    color: #FFC3B0;
    outline: none;
    transition: 0.3s;
}

.page-header .active .nav-link,
.page-header .nav-link:hover,
.page-header .navbar-toggler:hover
{
    color: #fff;
}

.page-footer
{
    background: #F8845F;
    color: #fff;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer a
{
    color: #fff;
    text-decoration: underline;
}

.page-footer .site-source
{
    font-size: 12px;
}

.page-footer .social
{
    display: flex;
}

.page-footer .social > *
{
    padding: 5px;
}

/* upcoming events */

.upcoming-events
{
    margin: 100px 0 0 0;
}

.upcoming-events p {
    margin: 0;
}

.upcoming-events .header,
.upcoming-events .event
{
    border-bottom: 2px solid #F8845F;
}

.upcoming-events .header {
    color: #b42401;
    padding: 20px 30px;
}

.upcoming-events .event {
    padding: 20px 0;
    vertical-align: middle;
    transition: 0.5s;
}

.upcoming-events .event:hover {
    background: #F8845F;
}

.upcoming-events .event-date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upcoming-events .event-date > * {
    margin: 0 10px;
    text-align: center;
}

.upcoming-events .event-date .event-time {
    color: #666;
}

.upcoming-events .event-date .day,
.upcoming-events .event-date .separator
{
    font-size: 2rem;
}

.upcoming-events .event-date .separator
{
    width: 15px;
}

.upcoming-events .title {
    margin-top: 10px;
    text-align: center;
}

.upcoming-events .description {
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

.upcoming-events .more {
    color: #fff;
    background: #D14316;
    padding: 4px 20px;
    margin: 0;
    text-align: center;
}

/* projects-overall */

.projects-overall
{
    margin: 100px 0 0 0;
}

.projects-overall .header {
    color: #b42401;
    padding: 20px 30px;
}

.projects-overall .projects-list {
    display: flex;
    align-items: baseline;
}

.projects-overall .projects-list .project,
.projects-overall .projects-list .project * {
    transition: 0.5s;
}

.projects-overall .projects-list .project {
    padding: 20px;
    text-align: center;
}

.projects-overall .projects-list .project .baseline {
    display: inline-block;
    width: 100%;
}

.projects-overall .projects-list .project .logo {
    width: 80%;
}

.projects-overall .projects-list .project:hover .logo {
    transform: scale(1.1);
}

.projects-overall .projects-list .project .title {
    font-size: 24px;
}

.projects-overall .projects-list .project .description {
    color: #666;
}

.projects-overall .projects-list .project:hover .description {
    color: #222;
}

/* members-overall */

.members-overall
{
    margin: 100px 0 0 0;
}

.members-overall .header {
    color: #b42401;
    padding: 20px 30px;
}

.members-overall .members-list {
    display: flex;
    align-items: baseline;
}

.members-overall .members-list .member {
    padding: 20px;
    text-align: center;
}

.members-overall .members-list .member .baseline {
    display: inline-block;
    width: 100%;
}

.members-overall .members-list .member .photo {
    width: 100%;
}

.members-overall .members-list .member .photo .photo-box {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.members-overall .members-list .member .title {
    font-size: 18px;
}

.members-overall .members-list .member .description {
    color: #666;
    font-size: 14px;
}
