{#  -*- coding: utf-8 -*- #}
{% macro late_load_js() %}
    {{ social_buttons_code }}
{% endmacro %}

{% macro html_translations() %}
    <ul class="translations">
    {% for langname in translations|sort %}
        {% if langname != lang %}
            <li><a href="{{ abs_link(_link("root", None, langname)) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
