{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
  {{ super() }}
  {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
  {% endif %}
  <meta name="author" content="{{ post.author()|e }}">
  {% if post.prev_post %}
    <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
  {% endif %}
  {% if post.next_post %}
    <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
  {% endif %}
  {% if post.is_draft %}
    <meta name="robots" content="noindex">
  {% endif %}
  {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}
  <article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
      <h1 class="p-name entry-title" itemprop="headline name"><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h1>
      {{ helper.html_translations(post) }}
    </header>
    <div class="e-content entry-content" itemprop="articleBody text">
      {{ post.text() }}
    </div>
    <aside class="postpromonav">
      <nav>
        {% if post.prev_post_in_section or post.next_post_in_section %}
          <ul class="pager hidden-print">
            {% if post.prev_post_in_section %}
              <li class="previous">
                <a href="{{ post.prev_post_in_section.permalink() }}" rel="prev" title="{{ post.prev_post_in_section.title()|e }}">{{ messages("Previous post") }}</a>
              </li>
            {% endif %}
            {% if post.next_post_in_section %}
              <li class="next">
                <a href="{{ post.next_post_in_section.permalink() }}" rel="next" title="{{ post.next_post_in_section.title()|e }}">{{ messages("Next post") }}</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
    </aside>
  </article>
{% endblock %}
