{#  -*- coding: utf-8 -*- #}
{% if posts %}
  <!-- Begin post-list {{ post_list_id }} -->
  <div class="members-overall">
    <div class="header row">
      <h1>Команда</h1>
    </div>
    <div class="row justify-content-around members-list">
      {% for post in posts %}
        <div class="col-sm-6 col-md-4 member">
          <div class="baseline">
            <div class="photo">
              <div class="photo-box" style="background-image: url('/members/{{ post.meta[lang].photo }}')"></div>
            </div>
            <p class="title">{{ post.title(lang) | e }}</p>
          </div>
          <p class="description">{{ post.description(lang) | e }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- End post-list {{ post_list_id }} -->
{% endif %}
